
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-image: url('assets/freedom.jpg');
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vw;
	color: #333;
}

div{
	margin: 50px auto;
	font-size: 40px;

}


.quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
